# -*- mode: Conf -*-

####################################################################################################

*.stderr
*.stdout
*/tex/auto
*~
__pycache__
du.log
parser.out
parsetab.py

*-backups/

__TRASH__/

####################################################################################################
#
# Secrets
#

doc/pelican/SECRET_CONFIG.py
tasks/anaconda-login.txt
tasks/SECRET_CONFIG.py

####################################################################################################

MANIFEST

####################################################################################################

.cache/
.pytest_cache/
.tox/
KiCadRW.egg-info/
build/
dist/


# doc/logo/logo-v1.jpg
# doc/logo/logo-v1.png
# doc/logo/logo-v2.jpg
# doc/logo/logo-v2.png
# doc/logo/logo.png

doc/pelican/output
doc/pelican/pelican-plugins
doc/pelican/pelican-themes
doc/pelican/theme/.yarnclean
doc/pelican/theme/node_modules
doc/pelican/theme/static/css/base.css
doc/pelican/theme/static/css/libs/bootstrap/bootstrap-grid.css
doc/pelican/theme/static/css/libs/bootstrap/bootstrap-reboot.css
doc/pelican/theme/static/css/libs/bootstrap/bootstrap.css
doc/pelican/theme/static/css/libs/fontawesome/brands.css
doc/pelican/theme/static/css/libs/fontawesome/fontawesome.css
doc/pelican/theme/static/css/libs/fontawesome/regular.css
doc/pelican/theme/static/css/libs/fontawesome/solid.css
doc/pelican/theme/static/css/libs/fontawesome/v4-shims.css
doc/pelican/theme/yarn-error.log
doc/pelican/theme/yarn.lock

doc/sphinx/build/
doc/sphinx/source/api/
doc/sphinx/source/examples/

####################################################################################################

.github/workflows/
.travis.yml
README-COPY.txt
capacitive-half-wave-rectification-pre-zener.kicad_sch
doc/pelican/
doc/sphinx/source/-donate.rst-
doc/sphinx/source/-how-to-refer.rst-
doc/sphinx/source/-installation.rst-
doc/sphinx/source/_static/
doc/sphinx/source/development.rst
doc/sphinx/source/index.rst
doc/sphinx/source/on-the-web.rst
doc/sphinx/source/overview.rst
kicad-examples/capacitive-half-wave-rectification-pre-zener/capacitive-half-wave-rectification-pre-zener.orig.kicad_sch
kicad-examples/capacitive-half-wave-rectification-pre-zener/capacitive-half-wave-rectification-pre-zener.sexpdata.kicad_sch
kicad-links/
log.txt
setenv.sh
tasks/test.py

fp-info-cache
*.bak

nogit
